@import 'tailwindcss';

html,
body,
:root {
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    width: 100% !important;
    font-size: 16px !important;
}

@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid '#000';
        border-right-color: '#000';
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid '#000';
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}
